<div class="panel panel-default">
    <div class="panel-heading">{{t installer.step7.header}}</div>
    <div class="panel-body">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            向目标主机安装Agent程序。
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">主机列表</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td class="col-md-1">{{view Ember.Checkbox checkedBinding="allChecked"}}</td>
                            <td class="col-md-3">主机</td>
                            <td class="col-md-4">进度</td>
                            <td class="col-md-2">状态</td>
                            <td class="col-md-2">{{t common.operate}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each host in hosts}}

                        {{#view App.WizardHostView host_infoBinding="host"}}
                            <td>{{view Ember.Checkbox checkedBinding="host.is_checked"}}</td>
                            <td>{{host.name}}</td>
                            <td>
                                <div {{bind-attr class=":progress host.is_boot_done::progress-striped host.is_boot_done::active"}} style="margin-bottom: 0;">
                                    <div {{bind-attr class=":progress-bar host.boot_bar_color"}} style="width: 100%">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="javascript:void(0)" data-toggle="modal" {{action "host_log_popup" host target="controller"}}>
                                    <span {{bind-attr class="host.boot_status_color"}}>{{host.boot_status_for_display}}</span>
                                </a>
                            </td>
                            <td>
                                {{#if view.removable}}
                                    <a href="javascript:void(0)" class="btn btn-mini" {{action remove target="view"}}><i class="glyphicon glyphicon-trash"></i></a>
                                {{/if}}
                                {{#if view.retryable}}
                                    <a href="javascript:void(0)" class="btn btn-mini" {{action retry target="view"}}><i class="glyphicon glyphicon-repeat"></i></a>
                                {{/if}}
                            </td>
                        {{/view}}
                            
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <button class="btn btn-default">删除选中项</button>
                    <button class="btn btn-default">重试失败项</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'prev'}}>{{t common.prev}}</button>
        <button class="btn btn-primary" {{action 'next'}}>{{t common.next}}</button>
    </div>
</div>