<div class="panel panel-default">
    <div class="panel-heading">{{t installer.step6.header}}</div>
    <div class="panel-body">
        <div class="alert alert-success alert-dismissable"  data-toggle="popover" {{translateAttr data-original-title="installer.step2.header" data-content="installer.step2.hostPattern.tooltip.content"}}>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            向Agent部署资源所需的Plugin。
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="col-md-2">Agent</th>
                    <th class="col-md-2">插件名称</th>
                    <th class="col-md-4">进度</th>
                    <th class="col-md-2">状态</th>
                    <th class="col-md-2">操作</th>
                </tr>
            </thead>
            <tbody>
                {{#each rela in relations}}
                <tr>
                    <td>{{view Ember.Checkbox checkedBinding="rela.is_checked"}}</td>
                    <td>{{rela.address}}</td>
                    <td>{{rela.plugin_name}}</td>
                    <td>{{rela.deploy_status}}
                        <div {{bind-attr class=":progress rela.is_deploy_done::progress-striped rela.is_deploy_done::active"}} style="margin-bottom: 0;">
                            <div {{bind-attr class=":progress-bar rela.deploy_bar_color"}} style="width: 100%"></div>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:void(0)" data-toggle="modal">
                            <span {{bind-attr class="rela.deploy_status_color"}}>{{rela.deploy_status_for_display}}</span>
                        </a>
                    </td>
                    <td></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'prev'}}>{{t common.prev}}</button>
        <button class="btn btn-primary" {{action 'next'}}>{{t common.next}}</button>
    </div>
</div>