<tr>
    <td colspan="3">
        {{view.parentTemp.name}}-子模板:
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{t resource.template.name}}</th>
                    <th>{{t resource.template.description}}</th>
                    <th>{{t common.operate}}</th>
                </tr>
            </thead>
            <tbody>
            {{#each t in view.temps}}
                 <tr>
                    <td>{{t.name}}</td>
                    <td>{{t.description}}</td>
                    <td>
                        <a href="javascript:void(null);" {{action 'show_config' t}}>配置</a>
                        <a href="javascript:void(null);" {{action 'show_child' t}}>子模板</a>
                    </td>
                </tr>
                {{view App.Step4ChildContainerView tempBinding='t'}}
            {{/each}}
            </tbody>
        </table>
    </td>
</tr>