<div class="panel panel-default">
    <div class="panel-heading">{{t installer.step1.header}}</div>
    <div class="panel-body">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            至少导入一种模板!
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">模板列表 <a href="javascript:void(0);" onclick="$(this).parent().next().toggle('slow');">显示/隐藏</a></div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>{{t resource.template.name}}</th>
                            <th>{{t resource.template.description}}</th>
                            <th>{{t common.operate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each template in templates}}
                        <tr>
                            <td>{{template.name}}</td>
                            <td>{{template.description}}</td>
                            <td>
                                <a href="javascript:void(null);">查看</a>
                                {{view App.RemoveTemplateView tempBinding='template'}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">上传模板 <a href="javascript:void(0);" onclick="$(this).parent().next().toggle('slow');">显示/隐藏</a></div>
            <div class="panel-body">
                {{view App.FileUploader}}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'prev'}}>{{t common.prev}}</button>
        <button class="btn btn-primary" {{action 'next'}} {{bind-attr disabled="is_submit_disabled"}}>{{t common.next}}</button>
    </div>
</div>