<div class="panel panel-default">
    <div class="panel-heading">[{{view.temp.name}}]关联插件</div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">插件类型</label>
                        <div class="col-sm-10">
                            <div class="radio-inline">
                                <label class="radio-label">
                                    {{view Ember.RadioButton name="plugin_type" selectionBinding="plugin_type" value="0"}}
                                    采集
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label class="radio-label">
                                    {{view Ember.RadioButton name="plugin_type" selectionBinding="plugin_type" value="1"}}
                                    监控
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {{#if is_collection}}
                {{view App.Step4IndexListView}}
            {{/if}}
            {{#if is_monitor}}
                {{view App.Step4PluginListView}}
            {{/if}}
        </div>
        {{#if is_show_index_form}}
            {{view App.Step4AddIndexView pluginsBinging='plugins'}}
        {{/if}}
        {{#if is_show_plugin_form}}
            {{view App.Step4AddPluginView pluginsBinging='plugins'}}
        {{/if}}
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'save_config'}}>保存</button>
        <button class="btn btn-default" {{action 'close_config'}}>关闭</button>
    </div>
</div>