<div class="panel panel-default">
    <div class="panel-heading">创建新资源</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">模板</label>
                <div class="col-sm-10">
                    {{view Ember.Select
                        content=templates
                        selectionBinding="template"
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                        prompt="Pick a template:"
                        class="form-control"}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源名称</label>
                <div class="col-sm-10">
                    {{ input type="text" id="resource_name" class="form-control" placeholder="Enter the resource name" value=resource_name }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">资源描述</label>
                <div class="col-sm-10">
                    {{ input type="text" id="resource_desc" class="form-control" placeholder="Enter the resource name" value=resource_desc }}
                </div>
            </div>
            {{#if show_attribute_form}}
                {{#each attr in attributes}}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{attr.name}}</label>
                        <div class="col-sm-10">
                            {{view App.Step5ResourceAttrText attrBinding="attr"}}
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'save_resource'}}>保存</button>
        <button class="btn btn-default" {{action 'close_index_form'}}>关闭</button>
    </div>
</div>