<div class="panel panel-default">
    <div class="panel-heading">{{t installer.step10.header}}</div>
    <div class="panel-body">
        操作完成！
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'prev'}}>{{t common.prev}}</button>
        <button class="btn btn-primary" {{action 'finish'}}>{{t common.finish}}</button>
    </div>
</div>