<div {{bind-attr class=":panel :panel-default view.is_config:panel-success:panel-danger"}}>
    <div class="panel-heading">资源[{{view.resource.name}}]--插件[{{view.plugin.name}}]配置</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            {{#each conf in view.plugin.configs}}
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">{{conf.key}}</label>
                <div class="col-sm-10">
                    {{view App.Step5PluginConfigText confBinding='conf'}}
                </div>
            </div>
            {{/each}}
        </form>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'save_plugin_config_form' target=view}}>保存</button>
    </div>
</div>