<div class="panel panel-default">
    <div class="panel-heading">{{t installer.step3.header}}</div>
    <div class="panel-body">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            为了有效的采集资源数据，请为资源选择对应的插件。
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>资源</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="javascript:void(0);" onclick="$('#resource_select_plugin').show()">HP Server1</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);" onclick="$('#resource_select_plugin').show()">HP Server2</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);" onclick="$('#resource_select_plugin').show()">HP Server3</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);" onclick="$('#resource_select_plugin').show()">HP Server4</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="resource_select_plugin" class="col-md-8" style="display: none;">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>插件</td>
                                <td>描述</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>CPU</td>
                                <td>采集目标主机CPU信息</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>内存</td>
                                <td>采集目标主机内存信息</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>磁盘</td>
                                <td>采集目标主机磁盘信息</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>网卡</td>
                                <td>采集目标主机网卡信息</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">                    
                    <div class="col-md-2">
                        <button class="btn btn-default" onclick="$('#deploy_progress').show();up();">部署Plugin</button>
                    </div>
                    <div class="col-md-10">
                        <div id="deploy_progress" class="progress progress-striped" style="display: none;">
                            <div id="progress_value" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span class="sr-only">0% Complete (success)</span>
                            </div>
                            <script type="text/javascript">
                                var newval = 0;
                                var st;
                                function up() {
                                    newval = parseInt(newval, 10) + 10;
                                    if (newval <= 100) {
                                        $('#progress_value').css('width', newval + '%').attr('aria-valuenow', newval);
                                        st = setTimeout("up()", 1000);
                                    } else {
                                        clearTimeout(st);
                                        $('.btn-primary').removeAttr('disabled');
                                        newval = 0;
                                    }
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'prev'}}>{{t common.prev}}</button>
        <button class="btn btn-primary" {{action 'next'}} disabled="disabled">{{t common.next}}</button>
    </div>
</div>