<tr>
    <td colspan="3">
        [{{view.parentResource.name}}]的子资源列表:
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {{#each resource in view.resources}}
                <tr>
                    <td>{{resource.name}}</td>
                    <td>{{resource.fullName}}</td>
                    <td>
                        <a href="javascript:void(0)" {{action 'show_child' resource}}>子资源</a>
                        <a href="javascript:void(0)" {{action 'show_resource_form' resource}}>创建子资源</a>
                        <a href="javascript:void(0)" {{action 'show_plugin_config'}}>配置Plugin</a>
                        <a href="javascript:void(0)" {{action 'show_agent_config'}}>关联Agent</a>
                        <a href="javascript:void(0)" {{action 'remove_resource' resource}}>移除</a>
                    </td>
                </tr>
                {{view App.Step5ChildContainerView resourceBinding='resource'}}
            {{/each}}
            </tbody>
        </table>
    </td>
</tr>