<div class="panel panel-default">
    <div class="panel-heading">增加指标</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">插件</label>
                <div class="col-sm-10">
                    {{view Ember.Select
                        content=plugins
                        selectionBinding="plugin"
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                        prompt="Pick a plugin:"
                        class="form-control"}}
                </div>
            </div>
        </form>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="5"></th>
                <th>指标</th>
                <th>名称</th>
                <th>别名</th>
            </tr>
        </thead>
        <tbody>
            {{#each index in plugin_index_list}}
            <tr>
                <td>{{view Ember.Checkbox checkedBinding="index.inTemplate"}}{{index.inTemplate}}</td>
                <td>{{index.kpi}}</td>
                <td>{{index.name}}</td>
                <td>{{index.alias}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'save_index'}}>保存指标</button>
        <button class="btn btn-default" {{action 'close_index_form'}}>关闭</button>
    </div>
</div>