<div class="panel panel-default">
    <div class="panel-heading">[{{view.temp.name}}]详细信息</div>
    <div class="panel-body">
        <label>模板描述</label>
        <div class="form-group">
            {{view.temp.description}}
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>min</th>
                <th>max</th>
                <th>settable</th>
                <th>required</th>
                <th>defaultValue</th>
                <th>logicalType</th>
            </tr>
        </thead>
        <tbody>
            {{#each attr in template.attributes}}
            <tr>
                <td>{{attr.name}}</td>
                <td>{{attr.type}}</td>
                <td>{{attr.description}}</td>
                <td>{{attr.min}}</td>
                <td>{{attr.max}}</td>
                <td>{{attr.settable}}</td>
                <td>{{attr.required}}</td>
                <td>{{attr.defaultValue}}</td>
                <td>{{attr.logicalType}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>