<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h3>{{t installer.header}}</h3>
            {{#link-to 'installer'}}Installer{{/link-to}}
            <ul class="nav nav-sidebar">
                <li><a {{bind-attr class="isStep0:active"}} href="javascript:void(null);" {{action "gotoStep0" target="controller"}}>{{t installer.step0.header}}</a></li>
                <li><a {{bind-attr class="isStep1:active"}} href="javascript:void(null);" {{action "gotoStep1" target="controller"}}>{{t installer.step1.header}}</a></li>
                <li><a {{bind-attr class="isStep2:active"}} href="javascript:void(null);" {{action "gotoStep2" target="controller"}}>{{t installer.step2.header}}</a></li>
                <li><a {{bind-attr class="isStep3:active"}} href="javascript:void(null);" {{action "gotoStep3" target="controller"}}>{{t installer.step3.header}}</a></li>
                <li><a {{bind-attr class="isStep4:active"}} href="javascript:void(null);" {{action "gotoStep4" target="controller"}}>{{t installer.step4.header}}</a></li>
                <li><a {{bind-attr class="isStep5:active"}} href="javascript:void(null);" {{action "gotoStep5" target="controller"}}>{{t installer.step5.header}}</a></li>
                <li><a {{bind-attr class="isStep6:active"}} href="javascript:void(null);" {{action "gotoStep6" target="controller"}}>{{t installer.step6.header}}</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{outlet}}
        </div>
    </div>
</div>