<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <h3>{{t installer.header}}</h3>
            <ul class="nav nav-sidebar nav-pills nav-stacked">
                <li {{bind-attr class="isStep0:active view.is_step0_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep0" target="controller"}}>{{t installer.step0.header}}</a></li>
                <li {{bind-attr class="isStep1:active view.is_step1_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep1" target="controller"}}>{{t installer.step1.header}}</a></li>
                <li {{bind-attr class="isStep2:active view.is_step2_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep2" target="controller"}}>{{t installer.step2.header}}</a></li>
                <li {{bind-attr class="isStep3:active view.is_step3_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep3" target="controller"}}>{{t installer.step3.header}}</a></li>
                <li {{bind-attr class="isStep4:active view.is_step4_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep4" target="controller"}}>{{t installer.step4.header}}</a></li>
                <li {{bind-attr class="isStep5:active view.is_step5_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep5" target="controller"}}>{{t installer.step5.header}}</a></li>
                <li {{bind-attr class="isStep6:active view.is_step6_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep6" target="controller"}}>{{t installer.step6.header}}</a></li>
                <li {{bind-attr class="isStep7:active view.is_step7_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep7" target="controller"}}>{{t installer.step7.header}}</a></li>
                <li {{bind-attr class="isStep8:active view.is_step8_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep8" target="controller"}}>{{t installer.step8.header}}</a></li>
                <li {{bind-attr class="isStep9:active view.is_step9_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep9" target="controller"}}>{{t installer.step9.header}}</a></li>
                <li {{bind-attr class="isStep10:active view.is_step10_disabled:disabled"}}><a href="javascript:void(0)" {{action "gotoStep10" target="controller"}}>{{t installer.step10.header}}</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{outlet}}
        </div>
    </div>
</div>