<a href="javascript:void(null);">{{installer.step0.header}}</a>test
{{isStep0}}
{{bind-attr class="isStep0:active"}}<Br /><br />
<a {{bind-attr class="isStep0:active"}} href="javascript:void(null);">{{t installer.step0.header}}</a>